header {
    border-bottom: 1px solid #f0f2f7;
    background: #fff;
}

header .side_menu {
    width: 50px;
    border-right: 1px solid #f0f2f7;
    padding: 30px 0;
}

header .logo_wrapper {
    width: 180px;
    padding: 24px 44px;
}

header .logo {
    display: inline-block;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 25px;
}

header .menu {
    width: calc(100% - 420px);
    text-align: center;
}

header .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .menu ul li {
    display: inline-block;
}

header .menu ul li a {
    text-decoration: none;
    display: inline-block;
    color: #343e5c;
    font-weight: 600;
    font-size: 1em;
    padding: 28px 12px;
}

header .user-actions {
    padding-top: 23px;
    width: 190px;
}

header .sign_in_btn {
    color: #343e5c;
    border: 2px solid #e3e8f0;
    background: #fff;
    text-transform: uppercase;
    border-radius: 14px;
    font-size: 0.8em;
    font-weight: 600;
    padding: 7px 12px;
    letter-spacing: 1px;
}

header .cart {
    color: #343e5c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 22px;
    margin-right: 16px;
}

header .cart i {
    font-size: 20px;
    vertical-align: middle;
    margin-top: -4px;
}

header .cart .text {
    padding: 0 5px;
}

header .cart .cart_items_count {
    background: #e3e8f0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    font-size: 1.1em;
}

.sub_header {
    background: #fff;
    border-bottom: 1px solid #f0f2f7;
}

.sub_header .sub_menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub_header .sub_menu li {
    float: left;
}

.sub_header a {
    text-decoration: none;
    display: inline-block;
    color: #b9bed1;
    text-transform: uppercase;
    padding: 16px 25px 16px 0;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}

.sub_header .search input {
    padding: 16px 8px 16px 35px;
    border: none;
    border-left: 1px solid #f0f2f7;
    border-right: 1px solid #f0f2f7;
    font-family: inherit;
    float: left;
    width: 100%;
}

.sub_header .search input::-webkit-input-placeholder,
.sub_header .search input::-moz-placeholder,
.sub_header .search input:-ms-input-placeholder
{
    color: #b9bed1;
    font-weight: 700;
    font-family: inherit;
}

.sub_header .search {
    position: relative;
    width: 220px;
}

.sub_header .search i {
    position: absolute;
    left: 15px;
    top: 16px;
}

.sub_header .support {
    margin-right: 10px;
}

@media screen and (max-width: 1023px) {
    header .menu {
        display: none;
    }

    .sub_header .search {
        width: 190px;
    }

    .sub_header a {
        padding-left: 9px;
        padding-right: 9px;
    }

    header .side_menu {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .sub_header .sub_menu {
        display: none;
    }

    header .user-actions {
        width: 100%;
        text-align: center;
        padding: 13px 0;
        border-top: 1px solid #f0f2f7;
    }
}