body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

.content {
    margin: 0 auto;
    width: 98%;
    max-width: 1280px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}