.search-results .side_bar {
    width: 25%;
    padding-right: 25px;
}

.search-results .accordion .title {
    background: #fff;
    color: #343e5c;
    padding: 11px 18px;
    border-bottom: 1px solid #f0f2f7;
    position: relative;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

.search-results .accordion:first-child .title {
    border-radius: 5px 5px 0 0;
}

.search-results .accordion:last-child .title {
    border-radius: 0 0 5px 5px;
    border-bottom: none;
}

.search-results .accordion .title i {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px;
    color: #b8bfd3;
    transform: rotate(0deg);
    transition: transform 0.3s, ease-in;
    font-weight: normal;
    font-size: 12px;
}

.search-results .accordion.open .title i {
    transform: rotate(90deg);
}

.search-results .accordion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results .accordion ul li a {
    display: block;
    background: #f0f2f7;
    color: #a1a8bd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    padding: 12px 18px;
    border-bottom: 1px solid #dfe4ee;
    font-weight: 600;
}

.search-results .accordion .body {
    display: none;
}

.search-results .search_results {
    width: 75%;
}

.search-results .search_results .items {
    margin: 0 -10px;
}

.search-results .search_results .item {
    padding: 0 10px;
    width: 25%;
    text-align: center;
    margin-bottom: 20px;
}

.search-results .search_results .item.double {
    width: 50%;
}

.search_results .item-content {
    background: #fff;
    border-radius: 5px;
    height: 327px;
    position: relative;
    transform: scale(1);
    transition: all 0.1s ease-in;
}

.search_results .item-content:hover {
    transform: scale(1.05);
}

.search_results .item .image {
    height: 230px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 75%;
    margin: 0 auto;
}

.search_results .item .name {
    color: #1c1e23;
    font-size: 16px;
    font-weight: 600;
}

.search_results .item .desc {
    color: #b8bfd3;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    font-size: 13px;
}

.search_results .item .price {
    color: #343e5c;
    font-weight: 600;
    padding: 8px 0 30px;
}

.search_results .item.double .image {
    width: 100%;
    background-size: cover;
    height: 260px;
}

.search_results .item.double .details {
    float: left;
    width: 50%;
    text-align: left;
    padding: 14px 20px;
}

.search_results .item.double .desc {
    margin-top: 5px;
}

.search_results .item .actions {
    float: right;
    padding: 13px 20px;
    width: 50%;
}

.search_results .item .actions a {
    float: right;
    border: 2px solid #f0f2f7;
    text-transform: uppercase;
    text-decoration: none;
    width: 50%;
    color: #3a405b;
    padding: 10px 0;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
}

.search_results .item .actions a:first-child {
    border-left: none;
    border-radius: 0 20px 20px 0;
}

.search_results .item .actions a:last-child {
    border-radius: 20px 0 0 20px;
}

.search_results .item.double .price {
    position: absolute;
    top: 11px;
    left: 11px;
    background: #1c1e23;
    color: #fff;
    border-radius: 3px;
    padding: 3px 8px;
    font-weight: 400;
}

@media screen and (max-width: 1279px) {
    .search-results .search_results .item {
        width: 33.33%;
    }

    .search-results .search_results .item.double {
        width: 66.66%;
    }
}

@media screen and (max-width: 1023px) {
    .search-results .side_bar {
        width: 36%;
    }

    .search-results .search_results {
        width: 64%;
    }

    .search-results .search_results .item {
        width: 50%;
    }

    .search-results .search_results .item.double {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .search-results .search_results .items {
        margin-top: 22px;
    }

    .search-results .search_results {
        width: 100%;
    }

    .search-results .search_results .item {
        width: 100%;
    }

    .search-results .search_results .item.double {
        width: 100%;
    }
}