.side_bar .block {
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
}

.side_bar .block .title {
    text-transform: uppercase;
    color: #343e5c;
    padding: 12px 15px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    border-bottom: 1px solid #f0f2f7;
    position: relative;
}

.side_bar .block .title a {
    position: absolute;
    right: 18px;
    top: 12px;
    color: #2754eb;
}

.side_bar .block .body {
    padding: 15px;
}

.side_bar .block .body.nopadding {
    padding: 0;
}

.side_bar .block .body .checkbox,
.side_bar .block .body .radiobutton {
    display: block;
    position: relative;
    padding-bottom: 8px;
}

.side_bar .block .body .radiobutton {
    padding-bottom: 12px;
    font-weight: 600;
    color: #343e5c;
}

.side_bar .block .body .checkbox .circle {
    top: 0;
}

.side_bar .block .body .checkbox .check {
    top: 6px;
    left: 4px;
    font-size: 14px;
}

.side_bar .block .body .checkbox .count,
.side_bar .block .body .radiobutton .count {
    position: absolute;
    right: 0;
    color: #b8bfd3;
    font-size: 12px;
}

.side_bar .block .body .radiobutton .circle {
    margin-right: 7px;
}

.side_bar .block .body .radio_wrapper {
    float: left;
    width: 50%;
    padding: 18px;
    border-right: 1px solid #f0f2f7;
}

.side_bar .block .body .radio_wrapper:last-child {
    border-right: none;
}

.side_bar .block .body .radio_wrapper .radiobutton {
    padding-bottom: 0;
}


@media screen and (max-width: 600px) {
    .search-results .side_bar {
        width: 100%;
        padding: 0;
    }
}